language: node_js
sudo: false

node_js:
  - 8
  - 10
  - 12
  - '12'
os:
  - linux

cache:
    directories:
      - $HOME/.npm

notifications:
    email: false
before_install:
  - npm config set registry https://:2019-09-25T04%3A56%3A34.833Z@time-machines-npm.sealsecurity.io/
